<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/bootstrap-rtl.css">
    <style>
        .disabled {
            color: orange;
        }

        .collection li.collection-item:not(.active):hover {
            background-color: #ddd;
        }

        body {
            background-color: #fcfcff;
        }

        .collection .collection-item.active {
            transition: 0.5s;
        }

        .paper {
            background-color: white;

        }
    </style>
</head>
<body>

<div id="app">
    <div class="container">
        <div class="row">

            <div class="col-md-8 card">
                <div v-for="food in foods" class="col-md-4 ">
                <restaurant :food="food" :b="b"></restaurant>
                    </div>
            </div>

            <div class="col-md-4">
                <cart :b="b"></cart>

            </div>
        </div>

    </div>
</div>

<template id="res-id">

    <div>



            <ul class="collection with-header z-depth-2">
                <li class="collection-header teal white-text text-center"><h4>{{food.type}}</h4></li>
                <li v-for="item in food.items" class="collection-item">

                    <div>
                        {{item.name}} - {{item.price}}

                        <a href="#!" class="secondary-content left" @click="order(item)">
                            <div class="badge">{{ item.qty }}</div>
                        </a>
                    </div>


                </li>

            </ul>
        </div>

    </div>


</template>


<template id="card-id">
    <div>
        <ul class="collection with-header z-depth-2">
            <li class="collection-header teal white-text text-center"><h4>صندوق</h4></li>
            <li v-for="item in b" class="collection-item">

                <div>
                    {{item.name}} - {{item.price}}
                    <div class="secondary-content left">
                        <a href="#!" class="" @click="order(item)">
                            <div class="badge">{{ item.qty }}</div>
                        </a>
                        <a href="#!" class="" @click="removeItem(item)">
                            <div class="badge"><i class="tiny material-icons">delete</i></div>
                        </a>

                    </div>
                </div>
            </li>
            <li class="collection-header teal white-text">
                <span>جمع: {{sumprice}}</span>
                <span class="left">تعداد: {{total}}</span>
            </li>
            <li>
                <a class="waves-effect waves-light btn" :class="(total > 0)?'':'disabled'">
                    <i class="material-icons left">shopping_cart</i>پرداخت
                </a>
            </li>
        </ul>

    </div>
</template>
<!--<a href="#!" class="secondary-content left" @click="order(food)">-->
<!---->
<!--</a>-->


<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/me.js"></script>
<script src="js/jquery.nestable.js"></script>

</div>
</body>
</html>
